/* bottom row */
.rowBottom {
  border-top: 2px solid var(--color-border-bg-alt);
  padding-top: 22px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.copy {
  color: var(--color-fg-light);
  font-size: 0.9rem;
}

@media (max-width: 640px) {
  .rowBottom {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    text-align: center;
  }
}
