.rowBottom {
  border-top: 2px solid var(--color-text-soft);
  padding-top: 22px;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  color: var(--color-text);
  font-size: var(--font-size-base);
  transition: var(--tarnsition-base);
}
.copy:hover {
  color: var(--color-accent-dark);
  cursor: pointer;
}

@media (max-width: 640px) {
  .rowBottom {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    text-align: center;
  }
}
