.rightContainer {
  /* border: 2px solid yellow; */
  flex: 1;
  height: 100%;
  padding: var(--card-padding);
}
.rightContainer h2 {
  color: var(--color-accent);
  /* padding-bottom: 1rem; */
}
.icon {
  font-size: var(--font-size-h3);
  color: var(--color-accent);
}

.callUsNote,
.phoneLink,
.visitUsSubtitle,
.visitUsText,
.visitUsNote,
.ctaText,
.ctaNote {
  font-size: var(--font-size-h5);
}

.phoneList,
.locationInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
.addressLines {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.visitUs,
.callUs,
.visitUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ctaButton {
  padding: 0 2rem;

  text-transform: uppercase;
  background: transparent;

  color: var(--color-text);
  border: solid var(--border-width) var(--color-text);
  border-radius: var(--border-radius);

  transform: translateY(-3px);
  transition: var(--transition-base);
}
.ctaButton:hover {
  background: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
}
