.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--card-padding);
}
.rightContainer h2 {
  color: var(--color-accent);
}
.icon {
  font-size: var(--font-size-h3);
  color: var(--color-accent);
}

.callUsNote,
.phoneLink,
.visitUsSubtitle,
.visitUsText,
.visitUsNote,
.ctaText,
.ctaNote {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-signature);

  letter-spacing: var(--letter-spacing-wide);
  line-height: var(--line-height-base);
}

.phoneList,
.locationInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 0.5rem 0;
}

.addressLines {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.visitUs,
.callUs,
.visitUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ctaButton {
  padding: 0 2rem;

  text-transform: uppercase;
  background: transparent;

  color: var(--color-text);
  border: solid var(--border-width) var(--color-text);
  border-radius: var(--border-radius);

  transition: var(--transition-base);
}
.ctaButton:hover {
  background: var(--color-accent-dark);
  border-color: var(--color-accent-dark);
  transform: translateY(-3px);
  /* box-shadow: 0 10px 30px rgba(243, 144, 77, 0.3); */
}

.socialList {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.socialListIcon {
  font-size: var(--font-size-h2);
  color: var(--color-text);
}
