.contactSection {
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.headerContainer {
  display: flex;
  align-items: flex-start;
}
.headerTitle {
  font-family: var(--font-family-primary);
  font-size: clamp(1.9rem, 4.5vw, 5rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-normal);
}
.uppercaseText {
  text-transform: uppercase;
}
.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;

  text-align: center;
  gap: 2rem;

  /* border: 3px solid red; */
}
