.contact {
  padding: 6rem 2rem;
  min-height: 100vh;
  color: var(--color-fg);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: var(--element-margin);
}

.contact input,
.contact textarea {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-border-bg-alt);
  background-color: var(--color-bg-alt);
  color: var(--color-fg);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.actionSubmit,
.actionGoHome {
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-border);
  background-color: transparent;
  color: var(--color-fg);
  cursor: pointer;
  transition: background-color var(--transition-base) ease;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

.actionSubmit:hover,
.actionGoHome:hover {
  background-color: var(--color-accent-dark);
}
