.contactSection {
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.headerContainer {
  border: 2px solid green;
}
.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  gap: 2rem;

  border: 3px solid red;
}
