.nav {
  margin-top: 3rem;
  margin-right: 10px;
}

.nav ul {
  display: flex;
  border: var(--border-width) solid var(--color-border-button);
  border-radius: var(--border-radius);
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  border-left: var(--border-width) solid var(--color-border-button);
}

.nav li:first-child {
  border-left: 0;
}

.linkButton {
  display: block;
  min-width: 7.5rem;
  height: var(--element-height);

  line-height: var(--element-height);
  font-size: var(--font-size-small);

  color: var(--color-border-button);

  padding: 0 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;

  background: transparent;
  transition: background var(--transition-base);
}

.linkButton:hover,
.nav li button:hover {
  background-color: var(--color-border-hover);
  opacity: 0.9;
}

/**
* ! Media Queries
*/
/* Responsive Design */

@media (max-width: 1200px) {
  .nav ul {
    flex-wrap: wrap;
  }
}

/*  Tablete landscape (max 992px) */
@media (max-width: 992px) {
  .nav ul {
    flex-wrap: wrap;
  }
}

/*  Tablete portrait (max 768px) */
@media (max-width: 768px) {
  .nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav li {
    border-left: 0;
    border-top: var(--border-width) solid var(--color-border-button);
  }
}

/* Telefoane mari (max 576px) */
@media (max-width: 576px) {
  .nav ul {
    flex-direction: column;
    gap: 0.3rem;
  }
  .nav li {
    border-top: var(--border-width) solid var(--color-border-button);
  }
  .nav li:first-child {
    border-top: 0;
  }
}

/* Telefoane mici (max 400px) */
@media (max-width: 400px) {
  .nav ul {
    flex-direction: column;
    gap: 0.2rem;
  }
}
