.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;

  transition: transform var(--transition-article) ease-in-out,
    filter var(--transition-article) ease-in-out,
    opacity var(--transition-article) ease-in-out;

  position: relative;
  z-index: 10;
}
