.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  width: 100%;
  transition: transform var(--transition-article) ease-in-out,
    filter var(--transition-article) ease-in-out,
    opacity var(--transition-article) ease-in-out;
}

/**
* ! Media Queries
*/
/* Responsive Design */

@media (max-width: 1200px) {
  .content {
    width: 35vw;
    max-width: 800px;
  }
  .nav ul {
    flex-wrap: wrap;
  }
}

/* Tablete landscape (max 992px) */
@media (max-width: 992px) {
  .content {
    width: 45vw;
    max-width: 700px;
    padding: 2.5rem 1.5rem;
  }

  .nav ul {
    flex-wrap: wrap;
  }
}

/* Tablete portrait (max 768px) */
@media (max-width: 768px) {
  .content {
    width: 55vw;
    max-width: 600px;
    padding: 2.2rem 1.5rem;
  }
  .content .inner img {
    height: 3.2rem;
  }
  .nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav li {
    border-left: 0;
    border-top: var(--border-width) solid var(--color-border);
  }
}

/*  Telefoane mari (max 576px) */
@media (max-width: 576px) {
  .content {
    width: 70vw;
    max-width: 500px;
    padding: 2rem 1rem;
  }
  .content .inner img {
    height: 2.8rem;
  }
  .nav ul {
    flex-direction: column;
    gap: 0.3rem;
  }
  .nav li {
    border-top: var(--border-width) solid var(--color-border);
  }
  .nav li:first-child {
    border-top: 0;
  }
}

/* Telefoane mici (max 400px) */
@media (max-width: 400px) {
  .content .inner img {
    height: 2.5rem;
  }
  .nav ul {
    flex-direction: column;
    gap: 0.2rem;
  }
}

@media (max-width: 330px) {
}
