.ctaContactSection {
  border: 2px solid peru;
  width: 100%;

  /* display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  gap: 5rem; */

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ctaLeftContactContainer {
  border: 2px dotted purple;
  text-align: left;
}

.ctaRightContactContainer {
  border: 2px dotted brown;
  text-align: center;
}
