.ctaContactSection {
  border: 2px solid peru;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ctaLeftContactContainer {
  border: 2px dotted purple;
  text-align: left;
}

.ctaRightContactContainer {
  border: 2px dotted brown;
  text-align: center;
}
