/* contact column */
.contact {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
  color: var(--text-color);

  /* border-right: 2px solid red; */
}

.sectionTitle {
  text-align: center;
  margin-bottom: 2rem;

  font-family: var(--font-family-secondary);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-semi);
  line-height: var(--line-height-tight);
}
.contactList {
  display: grid;
  text-align: center;
  list-style: none;
  padding: 0;
  /* margin: 8px 0 0 0; */
  color: var(--color-text);
  gap: 1rem;

  font-family: var(--font-family-secondary);
}
.contactListLink {
  color: var(--color-text);
  opacity: 0.95;
  text-decoration: none;
  transition: var(--transition-base);

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

  text-align: left;
}

.contactListLink:hover .contactListIcon,
.contactListLink:hover a {
  color: var(--color-accent);
}
.contactListLink a {
  display: flex;
  justify-content: left;
  /* align-items: center;
  text-align: center; */
  gap: 20px;
}
.contactListIcon {
  font-size: var(--font-size-h3);
}

.ctaRow {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  gap: 2rem;

  margin-top: 7rem;
}
.ctaButton {
  font-family: var(--font-family-signature);
  /* font-weight: var(--font-weight-regular); */
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  background: transparent;
  transition: var(--transition-base);
}
.ctaButton:hover {
  background: transparent;
  color: var(--color-text);
  border-color: var(--color-text);
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(243, 144, 77, 0.3);
}
