.mapInfo {
  padding: 1.5rem;
  border-radius: var(--border-radius-lg);
  text-align: center;
}
@media (min-width: 768px) {
  .mapInfo {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .mapInfo {
    padding: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
  }
}
