.mapInfo {
  padding: 1.5rem;

  text-align: center;
}

.mapDetails {
  font-weight: var(--font-weight-bold);
}
.icon {
  font-size: var(--font-size-h3);
  color: var(--color-accent);
  margin: 0 0.95rem;
}

@media (min-width: 768px) {
  .mapInfo {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .mapInfo {
    padding: 2.5rem;
    max-width: 800px;
    margin: 0 auto;
  }
}
