.footer {
  padding: 4rem 2rem;

  border-top: 2px solid var(--color-text-soft);
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.brand {
  /* border-right: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about {
  font-family: var(--font-family-signature);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-semi);
  letter-spacing: var(--letter-spacing-wide);
  line-height: var(--line-height-loose);
  color: var(--color-text);
  text-shadow: var(--shadow-lg);
  margin-bottom: 2rem;
}

.ctaRow {
  display: flex;
  gap: 2rem;
}
.ctaButton {
  font-family: var(--font-family-signature);
  /* font-weight: var(--font-weight-regular); */
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 0.5rem 1rem;
  background: transparent;
  transition: var(--transition-base);
}
.ctaButton:hover {
  background: transparent;
  color: var(--color-text);
  border-color: var(--color-text);
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(243, 144, 77, 0.3);
}
