.leftContainer {
  border-right: 2px solid var(--color-border);
  flex: 1;
  /*1.5rem 0.5rem in functie de stilizarea form va trebui sa refac paddingul*/
  padding: var(--card-padding);
  height: 100%;
}
.leftContainerHeaderTitle {
  color: var(--color-accent);
}

.leftContainerHeaderText {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
}
.highlight {
  color: var(--color-accent);
  font-weight: var(--font-weight-semi);
}
