.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 8px 0;
  list-style: none;
}

.social li a {
  color: var(--color-fg);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.02);
  transition: background var(--transition-base) ease,
    transform var(--transition-base) ease;

  color: var(--color-fg);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.social a:hover {
  /* background: rgba(255, 255, 255, 0.04); */
  transform: translateY(-3px);
  color: var(--color-logo);
}
