.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 2rem;

  font-family: var(--font-family-secondary);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-semi);
  line-height: var(--line-height-tight);
}

.socialList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.socialListIcon {
  font-size: var(--font-size-h3);
  color: var(--color-text);
  transition: var(--transition-base);
}
.socialListIcon:hover {
  color: var(--color-accent);
}
