*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-fg);
  font-family: var(--font-family);
  width: 100%;
  overflow-x: hidden;

  /*Background Global */

  background: url("../src/assets/bg-images/tech-parts-bg-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Reset link-uri */
a {
  color: inherit;
  text-decoration: none;
}

/* Reset liste */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* wrapper principal */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
