/* map preview */
.mapPreview {
  margin-top: 12px;
  border-radius: calc(var(--border-radius) * 2);
  overflow: hidden;
  background: var(--color-bg-overlay);
  padding: 8px;
  width: 100%;
  height: 90px;
  display: grid;
  place-items: center;
  color: var(--color-fg-light);
  font-size: 0.9rem;
}

.mapPlaceholder {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--color-fg-light);
}

/* responsive */

@media (max-width: 980px) {
  .mapPreview {
    height: 80px;
  }
}
